In [2]:
# Import libraries
import numpy as  np 
import  pandas as  pd 
import matplotlib.pyplot as  plt
import seaborn as sns

In [3]:
#reading dataset 
df=pd.read_csv("D:\\Courses\\Datasets\\ML projct\\understat.com.csv")

In [4]:
#data cleaning and data manipulation choosing features
df=df[['league','year','team','wins','draws','loses','pts','xG', 'xGA','missed','scored']]
EPL=df.loc[df['league']=='EPL',['league','year','team','wins','draws','loses','pts','xG', 'xGA','missed','scored']]
EPL

,league,year,team,wins,draws,loses,pts,xG,xGA,missed,scored
120,EPL,2014,Chelsea,26,9,3,87,68.643320,31.524344,32,73
121,EPL,2014,Manchester City,24,7,7,79,75.815441,40.499403,38,83
122,EPL,2014,Arsenal,22,9,7,75,69.802591,35.718825,36,71
123,EPL,2014,Manchester United,20,10,8,70,54.206860,39.842347,37,62
124,EPL,2014,Tottenham,19,7,12,64,52.385284,57.044148,53,58
...,...,...,...,...,...,...,...,...,...,...,...
235,EPL,2019,West Ham,10,9,19,39,49.069113,68.323322,62,49
236,EPL,2019,Aston Villa,9,8,21,35,45.088989,71.595382,67,41
237,EPL,2019,Watford,8,10,20,34,48.562637,59.528113,64,36
238,EPL,2019,Bournemouth,9,7,22,34,44.671045,63.294345,65,40
239,EPL,2019,Norwich,5,6,27,21,37.234175,71.607557,75,26

In [5]:
#visualizing data set
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()

target="scored"
sep=''

dft = AV.AutoViz('', sep, target, EPL)

In [6]:
x=EPL.iloc[:,3:-1].values
y=EPL.iloc[:,-1].values

In [8]:
#feature_selection of the most effiecient data
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import chi2, f_classif
feature_selection=SelectPercentile(score_func=f_classif, percentile=90)
x_new=feature_selection.fit_transform(x,y)

In [9]:
print(feature_selection.get_support())

[ True False  True  True  True  True  True]

In [10]:
x_new.shape

(120, 6)

In [11]:
#trainning the model by spliting it & importing LinearRegression model
from sklearn.model_selection import train_test_split
x_new_train,x_new_test,y_train,y_test=train_test_split(x_new,y,test_size=.2,random_state=0)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_new_train,y_train)

LinearRegression()

In [12]:
#predicting the test result
y_pred = model.predict(x_new_test)

In [13]:
#concatenate predictions and real values
np.set_printoptions(precision=2)
Result=np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)
headers=['predicated','actual']
Result=pd.DataFrame(Result,columns=headers)

In [14]:
Result.head(10)

   predicated  actual
0   46.005025    41.0
1   45.167716    45.0
2   46.693423    45.0
3   47.973221    48.0
4   39.687031    34.0
5   65.367187    69.0
6   47.318258    46.0
7   43.910849    44.0
8   59.530200    54.0
9   51.040684    51.0

In [15]:
print("The Model accurcay on test data =",model.score(x_new_test,y_test))

The Model accurcay on test data = 0.9560340870199123